	html,body{
		background:#eee;
		margin:0px;
		padding:0px;
		font-family:"Microsoft Yahei";
	}
	a{
		text-decoration:none;
	}
	#wrapper{
		position: relative;
		top:0px;
		left:0px;
		width: 100%;
	}
	
	#loading_mask{
		position: absolute;
		position: fixed;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		background: #333;
	}
	.loading_mask_txt{
		position: absolute;
		top:50%;
		left:0px;
		width: 100%;
		height: 40px;
		margin-top: -20px;
		text-align: center;
		letter-spacing: 5px;
		color: #ccc;
		font-size: 24px;
	}
	.cpt {
		padding: 50px 0px 20px;
		margin-bottom: 30px;
		text-align: center;
		background: #333;
		border-bottom: 1px solid #fff;
		box-shadow:0px 0px 20px #fff;
	}
	.cpt h1{
		margin:0px;
		font-weight:normal;
		font-size: 28px;
		letter-spacing: 5px;
		color:#fff;
	}
	.cpt p{font-size:14px;color:#666;}
	.cpt b{
		padding: 0px 5px;
		font-size:18px;
		color:#eee;
		font-weight:normal;
	}
	.cpt i{
		color:#ccc;
		padding:0px 5px;
	}
	
	.cnt{max-width:460px;margin:auto;padding-bottom:200px;}
	.demoItem{
		margin: 0px 10px 20px;
		background: #fff;
		border-radius:4px;
		overflow: hidden;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.7)
	}
	.demoItem h3{
		line-height:30px;
		margin:0px;
		padding: 5px 0px;
		text-align: center;
		color: #eee;
		font-size: 17px;
		font-weight: normal;
		background: #444;
	}
	.btnList{
		width: 100%;
		overflow: hidden;
	}
	.btnList a{
		display: block;
		height: 40px;
		line-height: 40px;
		text-align:center;
		border-top: 1px solid #ddd;
		margin-top: -1px;
		color: #666;
		font-size: 14px;
		transition: 0.3s;
	}
	.btnList a:hover{
		background: #f4f4f4;
		color: #222;
	}
	.btnList a:active{
		background: #ccc;
		color: #222;
	}
	
	
	/****/
	.btnConf{
		padding: 10px 5px;
		text-align: center;
		background: #fff;
	}
	.btnConf a{
		display: inline-block;
		font-size: 14px;
		color : #aaa;
		margin-right: 10px;
		padding: 0px 10px;
		line-height: 24px;
	}
	.btnConf a span{
		color: #fff;
		font-weight: bold;
		margin-right: 10px;
	}
	.btnConf a.isSelected{
		color: #333;
		background: #ccc;
	}
	.btnConf a.isSelected span{
		color: #000;
	}
	
	#config_panle{
		position: fixed;
		top: 10%;
		right: 20px;
		width: 120px;
	}
	#from_selected{
		position: relative;
		height: 120px;
	}
	#from_selected a{
		display: block;
		position : absolute;
		width: 33%;
		height: 33%;
		text-align: center;
		line-height: 40px;
		font-size: 20px;
		color:#fff;
		background: #888;
	}
	#from_selected a.isSelected{
		background: #333;
		color:#fff;
	}
	.from-top{
		top: 0;
		left: 33%;
	}
	.from-bottom{
		top: 66%;
		left: 33%;
	}
	.from-left{
		top: 33%;
		left: 0;
	}
	.from-right{
		left: 66%;
		top: 33%;
	}
	#from_selected .from-none{
		left: 66%;
		top: 0;
		background:#aaa;
	}
	#from_selected .from-dom{
		top: 33%;
		left: 33%;
		font-size: 30px;
	}
      

.btn{
  display: inline-block;
  min-width: 40px;
  height: 32px;
  padding: 0 1em;
  line-height: 33px;
  font-size: 14px;
  text-align: center;
  color: #333;
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  transition: .08s;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  border-color: #c3c3c3;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.btn.focusme{
  border: none;
  padding: 1px 1em;
  color: #fff;
  background: #fa7d3c;
  background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
  background: -o-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
  background: -ms-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
  background: linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%);
}
.btn.focusme:hover {
  background: #f4722e;
  background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%);
  background: -o-linear-gradient(top, #f4722e 0%,#f05807 100%);
  background: -ms-linear-gradient(top, #f4722e 0%,#f05807 100%);
  background: linear-gradient(top bottom, #f4722e 0%,#f05807 100%);
}