/**»ù´¡¿ò¼Ü**/
.UI_lawyer {
	position : absolute;
	top : -100%;
	left : 0;
	z-index : 4999;
	width : 100%;
	height : 100%;
	overflow : visible;
	font-family : "Microsoft Yahei";
}
.UI_lawyer a,
.UI_lawyer a:hover,
.UI_lawyer a : active {
	outline : none;
	text-decoration : none;
	-webkit-tap-highlight-color : rgba(0,0,0,0);
	-webkit-tap-highlight-color : transparent;
}
.UI_mask {
	position : absolute;
	top : 100%;
	left : 0;
	width : 100%;
	height : 100%;
	background : #000;
	display : none;
	opacity : 0.6;
	filter : alpha(opacity=50)
}
.UI_main_cnt {
	position : absolute;
	width : 100%;
	height : 0;
	top : 100%;
	overflow : visible;
}

.UI-blur{
	-webkit-transition : 0.08s;
	-webkit-filter : blur(2px)
}
/**µ¯¿ò**/
.UI_pop {
	width : 200px;
	position : absolute;
	top : 400px;
	left : 300px;
	background : #fff;
	box-shadow : 2px 3px 10px rgba(0,0,0,0.6);
}
.UI_pop_cpt {
	position : relative;
	height : 36px;
	line-height : 36px;
	overflow : hidden;
	border-bottom : 1px solid #ebebeb;
	color : #777;
	font-size : 16px;
	text-indent : 15px;
	cursor : default;
}
.UI_pop .UI_cnt {
	position : relative;
	min-height : 100px;
	overflow : auto;
}
.UI_pop_close {
	display : block;
	position : absolute;
	top : 0;
	right : 0;
	width : 40px;
	height : 36px;
	text-align : center;
	color : #ddd;
	font : bold 20px/36px "simsun";
	transition : 0.1s;
}
.UI_pop_close :hover {
	color : #888;
}
.UI_pop_close : active {
	color : #222
}
/**È·ÈÏ¿ò**/
.UI_confirm {
	width: 300px;
	position : absolute;
	background : #fff;
	overflow : hidden;
	box-shadow : 2px 3px 10px rgba(0,0,0,0.6);
}
.UI_confirm_text {
	padding : 30px 10px 20px;
	line-height : 26px;
	text-align : center;
	font-size : 20px;
	color : #333;
}
.UI_ask {
	width: 300px;
	position : absolute;
	background : #fff;
	overflow : hidden;
	box-shadow : 2px 3px 10px rgba(0,0,0,0.6);
}
.UI_ask_text {
	padding : 25px 10px 15px;
	line-height : 26px;
	text-align : center;
	font-size : 18px;
	color : #333;
}
.UI_ask input {
	display : block;
	margin : 0 auto 15px;
	height : 30px;
	padding : 4px 4px;
	line-height : 22px;
	box-sizing : border-box;
	width : 90%;
}
.UI_pop_confirm {
	overflow : hidden;
	text-align : center;
	border-top : 1px solid #ddd;
	white-space: nowrap;
}
.UI_pop_confirm a {
	display : inline-block;
	width : 50%;
	font-size : 14px;
	line-height : 36px;
	color : #03f;
	transition : 0.15s;
}
.UI_pop_confirm a:hover {
	background : #eee
}
.UI_pop_confirm_ok {
	border-right : 1px solid #ddd;
}
.UI_plane {
	width : 200px;
	position : absolute;
	top : 400px;
	left : 300px;
}
.UI_prompt {
	width : 240px;
	left: 50%;
	margin-left : -120px;
	position : absolute;
}
.UI_prompt_cnt {
	padding : 30px 10px;
	background : #fff;
	box-shadow : 2px 2px 10px rgba(0,0,0,0.5);
	font-size : 18px;
	color : #333;
	text-align : center;
}
.UI_cover {
	position : absolute;
	top : 0;
	width : 100%;
	height : 100px;
	max-width: 100%;
}
.UI_cover .UI_cnt {
	position : relative;
	width : 100%;
	height : 100%;
	background : #fff;
	overflow : auto
}
.UI_coverClose {
	display : block;
	position : absolute;
	top : 10px;
	right : 20px;
	width : 30px;
	height : 30px;
	text-align : center;
	color : #aaa;
	font : 18px/30px "simsun";
	background : #eee;
	border-radius : 15px;
	border: 1px solid #aaa;
}
.UI_coverClose:hover {
	background : #333;
	color : #fff;
	transition: 0.2s;
}
.UI_select {
	position : absolute;
	width : 200px;
	box-shadow : 2px 2px 2px rgba(0,0,0,0.6);
}
.UI_select a {
	display : block;
	height : 40px;
	line-height : 40px;
	text-align : center;
	color : #03f;
	font-size : 16px;
}
.UI_select_body {
	overflow : hidden;
	background : #fff;
}
.UI_selectCpt {
	padding : 8px 0;
}
.UI_selectCpt h3,
.UI_selectCpt p {
	margin : 0;
	font-size : 15px;
	line-height : 18px;
	text-align : center;
	color : #aaa;
	font-weight : normal;
}
.UI_selectCpt p {
	font-size : 12px;
}
.UI_selectCnt a {
	height : 34px;
	line-height : 34px;
	font-size : 14px;
	border-top : 1px solid #ddd;
}
.UI_selectCnt a :hover{
	background: #eee;
}
.UI_selectCancel {
	display : none;
}

@media(max-width : 640px){
	.UI_select {
		position: fixed;
		bottom: 0;
		width : 100%;
		padding-bottom : 10px;
	}
	.UI_select_body,
	.UI_selectCancel {
		margin : 0 10px;
		border-radius : 8px;
	}
	.UI_select_body {
		margin : 0 10px 10px;
	}
	.UI_selectCancel{
		display: block;
		background : #fff;
	}

	.UI_lawyer a:hover {
		background : none
	}
}
/** ie ´ò²¹¶¡ **/
.UI_ie678 .UI_pop,
.UI_ie678 .UI_confirm,
.UI_ie678 .UI_ask,
.UI_ie678 .UI_prompt,
.UI_ie678 .UI_select{
	outline:3px solid #ccc;
}